.page-header img {
    float: left;
    width: 60px;
    height: 60px;
    background: #555;
}

.page-header h1 {
    position: relative;
    left: 10px;
}

.page-header {
    height: 90px;
    padding-left: 40px;
}